$primary: #25543c;
$primary-light: #4c735f;
$success: $primary-light;
$primary-lighter: #eef0ef;
$link: #00549e;
$warning: #ffc67d;
$danger: #f46036;
$info: $link;
$icon-interaction-partner: #a15786;

$widescreen: 1384px !default;
$fullhd: 1576px !default;
$desktop: 1080px !default;
$tablet: 660px !default;

$shadow-primary-light: 0 2px 3px $primary, 0 0 0 1px $primary;
$input-focus-border-color: $primary-light;
$input-focus-box-shadow-size: 0 0 0 0.15em;
$input-focus-box-shadow-color: rgba($primary-light, 0.5);
$input-icon-active-color: $primary-light;

// default Bulma
$white: hsl(0, 0%, 100%);
$white-bis: hsl(0, 0%, 98%);
$grey: hsl(0, 0%, 48%);
$grey-lighter: hsl(0, 0%, 86%);
$black: hsl(0, 0%, 4%);

// Custom variables for fullheight Map Viewer, same as Bulma defaults
$navbar-height: 4rem;
$footer-height: 3.5rem;
// Custom height for the 2D and 3D Map Viewers on mobile
$viewer-height: 450px;
// Custom variable to align the logo with the other content of the web page
$navbar-margin-threshold: 44px;
